ul {
    list-style-type: none;
    margin: 0px 0px 0px 30px;
    padding: 0;
  }
  
  li {
    display: inline-block; 
    width: 240px; 
    margin: 5px 0px 10px 20px; 
    padding: 5px; 
    
  }

  .employeeDetails{
    background: #fff;
    position: relative;
    border-radius: 4px;
    margin:5px auto;
    padding: 5px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.05);
    height: 60px;
}

  .titles{

    position:relative;
    padding: 15px 5px;
    border-radius: 10px;


  }
.addEmp{
  position:relative;
  left: 1400px;
  top: 35px;
  
}
.addBtn{
  position:relative;
  left: 1320px;
  top: 65px;
 
}
.notify{
  position:relative;
  left:1450px;
  bottom: 30px;
}
.empDet{
  position:relative;
  left:1px;
  top:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.editBtn{
  position:relative;
  height: 40px;
  width: 100px;
  left: 1200px;
  bottom: 60px;
  background-color: aqua;
}
.dltBtn{
  position:relative;
  left:1300px;
  bottom: 133px;
}
.search{
  position: relative;
  width: 1200px;
  left: 90px;
}
.addNew{
  position:relative;
  left:1370px;
  top: 30px;
}
.fullbody{
  background-color: aquamarine;
}
/* .photo{
  margin: 0px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
  background: url(Hr.jpg) no-repeat;
  background-size: cover;
  
} */
.sear{

  position:relative;
  left:55px;
  top: 105px;
}