ul {
    list-style-type: none;
    margin: 0px 0px 0px 30px;
    padding: 0;
  }
  
  li {
    display: inline-block; 
    width: 240px; 
    margin: 5px 0px 10px 20px; 
    padding: 5px; 
    
  }

  .employeeDetails{
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.05);
}

  .titles{

    position:relative;
    padding: 15px 5px;
    border-radius: 10px;


  }
.addEmp{
  position:relative;
  
}
.notify{
  position:relative;
  left:1475px;
  bottom: 30px;
}
.empDet{
  position:relative;
  left:1px;
  top:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
