/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1000px;
  margin: -30px 0px 0px 20px;
  padding: 0px 20px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 ;
}
.pageview{
  display: flex;
}

/* ststus boxes */

.statusBoxs {
  display: flex;
  justify-content: space-around; 
}

.box1, .box2, .box3, .box4 {
  width: 200px;
  height: auto;
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
  margin: 0 10px; 
}
.box1{background: #9de98e;}
.box2{background: #7784e6;}
.box3{background: #e85b5b;}
.box4{background: #66c1ec;}

.box1 h3, .box2 h3, .box3 h3, .box4 h3 {
  margin: 0;
  padding: 5px 0;
  color: black;
}


/* pagination */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.page-link:hover {
  background-color: #e0e0e0;
}

.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* searchbar style */

.functionBar{
  display: flex;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: #333 solid;
}

.categoryBox{
  margin: auto;
  width: 250px;
}
.addButton{
  display: inline-block;
  width: 80px;
  height: 30px;
  padding: 10px 10px 0px 10px;
  margin: 10px 10px;
  text-decoration: none;
  background-color: #5349b2; 
  color: #fff; 
  border-radius: 5px;
  border: 2px solid #141236; 
}

.addButton:hover {
  background-color: #3172ae; 
  color: #fff; 
}

/* home page */

.topicline td{
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.productDetails td {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topicline li,
.productDetails li {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px; 
}

.productDetails {
  border-bottom: #0e33a2 2px solid;
}

.productDetails {
  margin-bottom: 10px;
}

.productDetails table {
  width: calc(100% - 20px); /* Adjust the width as needed */
  border-collapse: collapse;
}

.productDetails td {
  padding: 8px;
}

.productDetails a {
  text-decoration: none;
  color: black; 
}

.productDetails-image img {
  max-width: 30px;
  height: 30px;
}

.productDetails-name {
  width: 40%; 
}

.productDetails-price,
.productDetails-disPrice,
.productDetails-quantity {
  width: 20%; 
  padding-right: 30px;
  text-align: right;
}

.topicline {
  margin-bottom: 10px;
  text-align: center;
}

.topic-photo{
  width: 3%; 
}
.topic-name {
  width: 30%; 
}

.topic-disPrice {
  width: 30%; 
}

.topic-price{
  width: 30%; 
}
.tpoic-quantity {
  width: 30%; 
}


/* InventoryForm page */

.newItem-form,.editItem-form {
  width: 1000px;
  margin: 20px 250px;
  padding: 20px;
  border: 1px solid #262bc8;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}


input,
select,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

/* productDetails */

.productDetails {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.productDetails li {
  color: #511b5b;
}

/* customized-barcode */
.customized-barcode svg{
  width: 300px; 
  height: auto;
}

.selectedProduct{
  display: flex;
}
.s1, .s2{
  margin: 20px 40px;
}

/* HomePage */
.homeProductDetails{
  height: 350px;
  width: 200px;
  border: 1px black solid;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.rowView {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

