/* NavHome */

.body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    /* background: url(HomeBackground.jpg) no-repeat; */
    background-color: aliceblue;
    background-size: cover;
    /* background-position:center; */
  }
  
  .navbar {
    background-color: #232121;
    overflow: hidden;
    padding: 15px;
    text-align: center;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    float: left;
  }
  
  .navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navLinks li {
    float: right;
    display: block;
    margin-right: 20px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #ffcc00; /* Change color on hover */
  }

  .span{
    margin: 5px;
    color: #fff;
  }

  .navIcons{
    float: right;
    margin: 10px;
    color: #fff;

  }
  
  
  /* End of NavHome */


  /* home page */

.homeProductDetails {
  align-items: center; 
  text-align: center;
  margin: auto;
  width: 220px; 
  height: 360px; 
  border: 1px solid #ccc; 
  box-shadow: 0px 4px 2px 4px #ffffff;
  padding: 10px; 
  box-sizing: border-box; 
}

.homeProductDetails a {
  text-decoration: none; 
  color: #000000;
}

.productPicture img {
  max-width: 180px;
  height: 220px;
}

.rowView{
  max-width: 1400px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
}

.homeContainer{
  display: flex;
  max-width: 1000px;
  margin: auto;
  border: 1px black solid;
}
.searchBox input{
  max-width: 500px;
}

.categoryBox{
  max-width: 200px;
}

/* pagination */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.page-link:hover {
  background-color: #e0e0e0;
}

.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
