/* NavHome */

.body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    /* background: url(HomeBackground.jpg) no-repeat; */
    background-color: aliceblue;
    background-size: cover;
    /* background-position:center; */
  }
  
  .navbar {
    background-color: #232121;
    overflow: hidden;
    padding: 15px;
    text-align: center;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    float: left;
  }
  
  .navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navLinks li {
    float: right;
    display: block;
    margin-right: 20px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #ffcc00; /* Change color on hover */
  }

  .span{
    margin: 5px;
    color: #fff;
  }

  .navIcons{
    float: right;
    margin: 10px;
    color: #fff;

  }
  
  
  /* End of NavHome */


  /* home page */

.homeProductDetails {
  border-bottom: #0e33a2 2px solid;
  background-color: #e0e0e0;
}


/* pagination */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.page-link:hover {
  background-color: #e0e0e0;
}

.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
