<<<<<<< HEAD
.notification-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: #f5f5f5; /* Light background */
    margin-top: 64px;
  }
  
  .notifications-container {
    width: 80%; /* Adjust container width as needed */
    background-color: #fff; /* White background for content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    
    
  }
  
  .notifications-heading {
    font-size: 20px; /* Adjust heading size */
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
  }
  
  .notifications-list {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
  }

  .notifications-list a {
    text-decoration: none; /* Remove default link underline */
    color: #333; /* Darker text color */
    display: block; /* Make entire item clickable */
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Divider between items */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
  
    &:hover {
      background-color: #f0f0f0; /* Lighter background on hover */
    }
  }
  
  .notifications-list a h4 {
    font-size: 18px; /* Adjust title size */
    margin-bottom: 5px;
  }
  
  .notifications-list a p {
    font-size: 14px; /* Adjust paragraph size */
    line-height: 1.5; /* Improve readability */
    margin-bottom: 0;
  }
  

  .notification-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    margin-top: 64px; /* Add some spacing after notification list */
  }
  
  .notification-item {
    border-bottom: 1px solid #ddd; /* Divider between notifications */
    padding-bottom: 15px; /* Add some padding for spacing */
    margin-bottom: 15px;
  }
  
  .notification-item h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .notification-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  .notification-item strong {
    font-weight: bold;
  }
  
  .expanded-row {
    background-color: #f5f5f5;
  }
=======
.notification-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: #f5f5f5; /* Light background */
    margin-top: 64px;
  }
  
  .notifications-container {
    width: 80%; /* Adjust container width as needed */
    background-color: #fff; /* White background for content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    
    
  }
  
  .notifications-heading {
    font-size: 20px; /* Adjust heading size */
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
  }
  
  .notifications-list {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
  }

  .notifications-list a {
    text-decoration: none; /* Remove default link underline */
    color: #333; /* Darker text color */
    display: block; /* Make entire item clickable */
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Divider between items */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
  
    &:hover {
      background-color: #f0f0f0; /* Lighter background on hover */
    }
  }
  
  .notifications-list a h4 {
    font-size: 18px; /* Adjust title size */
    margin-bottom: 5px;
  }
  
  .notifications-list a p {
    font-size: 14px; /* Adjust paragraph size */
    line-height: 1.5; /* Improve readability */
    margin-bottom: 0;
  }
  

  .notification-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    margin-top: 20px; /* Add some spacing after notification list */
  }
  
  .notification-item {
    border-bottom: 1px solid #ddd; /* Divider between notifications */
    padding-bottom: 15px; /* Add some padding for spacing */
    margin-bottom: 15px;
  }
  
  .notification-item h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .notification-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  .notification-item strong {
    font-weight: bold;
  }
  
>>>>>>> 976cc275b49c8a4102df995a5812636b46677d9b
  