  .rental-management-container {
    display: flex;
  }
  
  .sidebar {
    /* Sidebar styles */
    width: 200px; /* Adjust width as needed */
    background-color: #f0f0f0; /* Example background color */
    position: fixed; /* Keep the sidebar fixed */
    height: 100%; /* Fill the entire height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .content {
    /* Content styles */
    margin-left: 200px; /* Adjust margin to match sidebar width */
    flex: 1; /* Allow content to grow to fill remaining space */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 20px; /* Add padding to the content area */
  }

  .button-container {
    display: flex; /* Use flexbox */
    justify-content: center;
  }
  
  .button-container button {
    margin-right: 10px; /* Optional: Add spacing between buttons */
  }