  .rental-management-container {
    display: flex;
  }
  
  .sidebar {

    width: 200px; 
    background-color: #f0f0f0; 
    position: fixed; 
    height: 100%; 
    overflow-y: auto; 
  }
  
  .content {

    margin-left: 200px; 
    flex: 1; 
    overflow-y: auto; 
    padding: 20px; 
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin-right: 10px;
  }